<body>
    <div class="container">
        <div class="titulos">
            <h1 id="titulo">Agendamento de Consultas Odontológica</h1>
            <p id="subtitulo">Preencha o formulário para marcar sua consulta com o(a) dentista</p>
        </div>
        <form action="{{#if agendamento}}/editar{{else}}/cadastrar{{/if}}" method="post">
            <input type="hidden" name="id" value="{{agendamento.id}}">

                <div class="campo">
                    <label for="nome">Nome</label>
                    <input value="{{agendamento.nome}}" type="text" name="nome" id="nome" placeholder="Nome Completo" required>
                </div>
                <div class="campo">
                    <label for="data_nascimento">Data de nascimento</label>
                    <input value="{{agendamento.data_nascimento}}" type="date" name="data_nascimento" id="data_nascimento" required>
                </div>

            <fieldset class="grupo">
                <div class="campo">
                    <label for="celular">Celular</label>
                    <input value="{{agendamento.celular}}" type="number" name="celular" id="celular" placeholder="xxxxx-xxxx" required>
                </div>
                <div class="campo">
                    <label for="email">Email</label>
                    <input value="{{agendamento.email}}" type="email" name="email"  id="email" placeholder="***@gmail.com" required>
                </div>         
            </fieldset>

            <fieldset class="grupo2">
                <div class="campo">
                    <label for="data_consulta">Data da consulta</label>
                    <input value="{{agendamento.data_consulta}}" type="date" name="data_consulta" id="data_consulta" required>
                </div>
                <div class="campo">
                    <label for="hora_consulta">Horário da consulta</label>
                    <input value="{{agendamento.hora_consulta}}" type="time" name="hora_consulta" id="hora_consulta" required>
                </div>
            </fieldset>
                
            <div class="campo">
                <label for="motivo_consulta">Motivo da consulta</label>
                <select name="motivo_consulta" id="motivo_consulta">
                    <option selected disabled value="">Escolha...</option>
                    <option {{#if (eq agendamento.motivo_consulta "Restauração")}} selected {{/if}} value="Restauração">Restauração</option>
                    <option {{#if (eq agendamento.motivo_consulta "Canal")}} selected {{/if}} value="Canal">Canal</option>
                    <option {{#if (eq agendamento.motivo_consulta "Implante")}} selected {{/if}} value="Implante">Implante</option>
                    <option {{#if (eq agendamento.motivo_consulta "Extração")}} selected {{/if}} value="Extração">Extração</option>
                    <option {{#if (eq agendamento.motivo_consulta "Clareamento")}} selected {{/if}} value="Clareamento">Clareamento</option>
                    <option {{#if (eq agendamento.motivo_consulta "Lentes")}} selected {{/if}} value="Lentes">Lentes</option>
                </select>
            </div>
        <br>

            <button type="submit" class="botao">
                {{#if agendamento}}
                    Salvar
                {{else}}
                    Cadastrar
                {{/if}}
            </button>
        <br>
        </form> 
    </div>
</body>